# Ignore node_modules and env files
node_modules
.env
.env.*  

# Ignore build and debug stuff
dist
build
*.log
npm-debug.log*
pnpm-debug.log*

# Ignore system junk
.DS_Store
Thumbs.db

# Ignore Git
.git
.gitignore
